.html,
.body {
  width: 100%;
  height: 100%;
  background-color: burlywood;
}

.otherHtml,
.otherBody {
  background-color: crimson;
}

.donateMessage {
  margin-top: 300px;
  color: white;
}

.heading {
  text-align: center;
  font-size: 32pt;
  color: black;
}

.smallHeading {
  text-align: center;
  font-size: 22pt;
  color: black;
}

.horizontal {
  border: 2px solid black;
  border-radius: 7px;
}

.mainBox {
  margin-top: 30px;
  width: 80%;
  height: 300px;
  background-color: whitesmoke;
  border: 3px solid black;
  box-shadow: 15px 15px 10px black;
}

.mission {
  width: 900px;
  text-align: center;
  position: absolute;
  top: 204px;
  left: 252px;
}

.box {
  margin-left: 20px;
  margin-top: 60px;
  width: 20%;
  height: 50px;
  background-color: whitesmoke;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
}

.donateButton {
  color: white;
  font-size: 12pt;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 150px;
  height: 50px;
  background-color: crimson;
  border: 5px solid black;
  border-radius: 15px;
}

.donateButton:hover {
  cursor: pointer;
}

.donateButton:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.topic1 {
  position: absolute;
  top: 450px;
  left: 550px;
}

.topic2 {
  position: absolute;
  top: 750px;
  left: 550px;
}

.topic3 {
  position: absolute;
  top: 1050px;
  left: 550px;
}
